@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/subset-GraphikLCG-Regular.eot');
    src: url('fonts/subset-GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-GraphikLCG-Regular.woff2') format('woff2'),
        url('fonts/subset-GraphikLCG-Regular.woff') format('woff'),
        url('fonts/subset-GraphikLCG-Regular.ttf') format('truetype'),
        url('fonts/subset-GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/subset-GraphikLCG-Semibold.eot');
    src: url('fonts/subset-GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-GraphikLCG-Semibold.woff2') format('woff2'),
        url('fonts/subset-GraphikLCG-Semibold.woff') format('woff'),
        url('fonts/subset-GraphikLCG-Semibold.ttf') format('truetype'),
        url('fonts/subset-GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/subset-Roboto-Regular.eot');
    src: url('fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('fonts/subset-Roboto-Regular.woff') format('woff'),
        url('fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LCG', sans-serif;
}

header {
    border-bottom: 1px solid #CCCCCC;
}

.container {
    max-width: 1290px;
    margin: auto;
    padding: 0 20px;
}

.header-container {
    max-width: 1340px;
    display: flex;
}

.link {
    display: block;
    width: fit-content;
    text-decoration: none;
}

.logo {
    margin: 32px 51px 31px 0;
}

.list {
    display: flex;
}

.link.menu {
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    transition: 0.5s;
}

.link:hover {
    color: #FF6336;
}

.item-menu {
    margin: 39px 42px 36px 0;
}

.item-menu:last-child {
    margin-right: 0;
}

.button {
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.button-login {
    line-height: 45px;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #808080;
    margin: auto 5px auto auto;
    padding: 0 36px;
}

.button-login:hover {
    background-color: rgb(228, 228, 228);
}

.button-try {
    line-height: 45px;
    background-color: #FF6336;
    color: #FFFFFF;
    border: none;
    margin: auto 0 auto 5px;
    padding: 0 21px 0 22px;
}

.button-try:hover {
    background-color: #FF9C7D;
}

.about {
    padding: 129px 0 172px 0;
}

.about-container {
    display: flex;
}

.title {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

.title-about {
    width: 552px;
    margin-bottom: 51px;
}

.text-about {
    width: 471px;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 50px;
}

.button-box {
    display: flex;
    margin-bottom: 25px;
}

.button-try2 {
    line-height: 60px;
    color: #FFFFFF;
    background-color: #FF6336;
    border: none;
    margin-right: 10px;
    padding: 0 41px 0 42px;
}

.button-try2:hover {
    background-color: #FF9C7D;
}

.button-book {
    line-height: 60px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #808080;
    padding: 0 29px;
}

.button-book:hover {
    background-color: rgb(228, 228, 228);
}

.about-image {
    width: 698px;
    height: 493px;
}

.brand {
    background-color: #FF9C7D;
}

.brand-container {
    flex-flow: column wrap;
    padding: 108px 0 104px 0;
}

.subtitle {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}

.brand-title {
    width: 720px;
    text-align: center;
    margin-left: 340px;
    margin-bottom: 70px;
}

.brand-item {
    margin-right: 103px;
}

.brand-item:last-child {
    margin-right: 0;
}

.brand-list {
    flex-wrap: wrap;
    align-items: center;
    margin-left: 27px;
}

.profit-list {
    flex-direction: column;
    padding-top: 90px;
    padding-bottom: 150px;
}

.item-profit {
    width: 1290px;
    display: flex;
    margin-bottom: 250px;
}

.card-profit1 {
    margin: auto 125px auto 0;
    width: 493px;
}

.title-profit1, 
.text.profit1 {
    margin-bottom: 30px;
}

.text {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.underline {
    text-decoration: underline 1px;
    color: #000000;
}

.underline:hover {
    color: #FF6336;
}

.link.text {
    font-weight: 600;
}

.card-profit2 {
    margin: auto 0 auto 138px;
    order: 1;
}

.title-profit2 {
    margin-bottom: 30px;
    width: 379px;
}

.text.profit2 {
    width: 450px;
    margin-bottom: 36px;
}

.card-profit3 {
    width: 520px;
    margin: auto 98px auto 0;
}

.title-profit3 {
    margin-bottom: 30px;
}

.text.profit3 {
    margin-bottom: 35px;
}

.card-profit4 {
    width: 520px;
    order: 1;
    margin: auto 0 auto 98px;
}

.title-profit4 {
    margin-bottom: 25px;
}

.text.profit4 {
    margin-bottom: 35px;
}

.item-profit:last-child {
    margin-bottom: 0;
}

.examples {
    background-color: #FFF8E4;
}

.examples__subtitle {
    padding-top: 120px;
    padding-bottom: 58px;
    text-align: center;
}

.examples__list {
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 93px;
}

.examples__card {
    width: 330px;
    margin-right: 110px;
    margin-bottom: 57px;
}

.examples__card:nth-child(3n) {
    margin-right: 0;
}

.examples__card-image {
    margin: 21px 85px 23px;
}

.examples__card-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-bottom: 23px;
}

.examples__card-text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.productivity__subtitle {
    margin-top: 154px;
    margin-bottom: 25px;
    text-align: center;
}

.productivity__list {
    margin-bottom: 187px;
}

.productivity__card {
    width: 430px;
}

.image-box {
    height: 201px;
    margin-top: 50px;
    margin-bottom: 49px;
}

.productivity__card-image_2 {
    margin-top: 17.5px;
}

.productivity__card-image_3 {
    margin-top: 9px;
}

.productivity__card-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 34px;
}

.productivity__card-text {
    width: 409px;
    margin-bottom: 25px;
}

.feedback {
    background-color: #c9e8f2;
}

.feedback__container {
    display: flex;
}

.feedback__text {
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin: 63px 85px 23px 0;
}

.feedback__text2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 7px;
}

.feedback__photo {
    margin-top: 53px;
    margin-bottom: 105px;
}

.rating {
    background-color: #DABC98;
}

.rating__container {
    display: flex;
}

.rating__image {
    margin: 90px 47px 88px 0;
}

.rating__text {
    width: 461px;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
    margin: 117px 125px 115px 0;
}

.rating__card {
    padding: 30px 0 22px 70px;
    margin-top: 80px;
    margin-bottom: 84px;
}

.rating__card_line {
    border-left: 1px solid black;
}

.rating__icon {
    display: block;
    margin-bottom: 20px;
}

.rating__rate {
    margin-bottom: 14px;
}

.rating__description {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    color: #000000;
    text-transform: uppercase;
}

.integrate {
    text-align: center;
}

.integrate__title {
    line-height: 75px;
    margin: 169px auto 0 auto;
    width: 791px;
}

.integrate__text {
    width: 539px;
    font-size: 25px;
    margin: 0 auto 25px auto;
}

.integrate__image {
    display: block;
    margin: 0 auto 32px auto;
}

.integrate__button {
    line-height: 60px;
    color: #FFFFFF;
    background-color: #FF6336;
    border: none;
    padding: 0 20px;
    margin-bottom: 162px;
}

.integrate__button:hover {
    background-color: #FF9C7D;
}

.try {
    background-color: #FF9C7D;
    padding-top: 119px;
    padding-bottom: 161px;
    text-align: center;
}

.try__title {
    line-height: 75px;
    margin: 0 auto 29px auto;
    width: 784px;
}

.try__text {
    margin-bottom: 54px;
}

.try__button {
    font-size: 17px;
    line-height: 60px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    padding: 0 40px;
}

.try__button:hover {
    background-color: #575454;
}

.footer {
    background-color: #eee;
    padding-top: 92px;
    padding-bottom: 48px;
}

.footer__box {
    display: flex;
}

.footer__box_1 {

    padding-bottom: 95px;
    border-bottom: 1px solid black;
}

.footer__card {
    width: 370px;
    margin-right: 70px;
}

.footer__card-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 28px;
}

.footer__card-image {
    margin-bottom: 31px;
}

.footer__card-logo {
    width: 80px;
    height: 32px;
    margin-bottom: 11px;
}

.footer__card-text {
    width: 290px;
    margin-bottom: 15px;
}

.footer__list {
    padding-top: 5px;
}

.footer__item {
    width: 187px;
    margin-right: 34px;
}

.footer__item:last-child {
    margin-right: 0;
}

.footer__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 21px;
}

.footer__item-text {
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 15px;
}

.footer__box_2 {
    padding-top: 48px;
}

.footer__text {
    width: 301px;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-right: 700px;
}

.footer__logo,
.footer__text {
    padding-top: 5px;
}

.footer__logo {
    margin-right: 14px;
}

.footer__rights-box {
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.button-wrap {
    display: flex;
    margin: auto 0 auto auto;
}

@media (max-width: 1290px) {
    .container {
        padding: 0 20px;
    }
    .header-container {
        flex-direction: column;
        align-items: center;
    }
    .list {
        flex-wrap: wrap;
    }
    .item-menu {
        margin: 0 30px 0 0;
    }
    .button-wrap,
    .logo {
        margin: 20px 0;
    }
    .about {
        position: relative;
        padding: 20px 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .about-container {
        justify-content: center;
    }
    .title {
        font-size: 55px;
        line-height: 60px;
    }
    .title-about {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .text-about {
        font-size: 20px;
        line-height: 25px;
        margin: 0 auto 30px auto;
    }
    .button-box {
        justify-content: center;
        margin-bottom: 30px;
    }
    .about-image {
        position: absolute;
        opacity: 20%;
    }
    .brand-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .brand-title {
        font-size: 50px;
        margin: 0 auto 30px auto;
    }
    .brand-list {
        margin-left: 0;
        justify-content: center;
    }
    .brand-item {
        width: 33.33%;
        margin-right: 0px;
    }
    .brand-item .link {
        margin: auto;
    }
    .item-profit {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }
    .card-profit1,
    .card-profit2,
    .card-profit3,
    .card-profit4 {
        margin: 0 auto 10px auto;
        width: 100%;
        max-width: 550px;
    }
    .title-profit1,
    .title-profit2,
    .title-profit3,
    .title-profit4 {
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
        font-size: 40px;
        line-height: 45px;
    }
    .card-profit2,
    .card-profit4 {
        order: 0;
    }
    .text.profit1,
    .text.profit2,
    .text.profit3,
    .text.profit4 {
        width: 100%;
        text-align: justify;
    }
    .item-profit img {
        max-width: 632px;
    }
}

@media (max-width: 768px) {
    .container {
        min-width: 320px;
    }
    .button-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    .button-login {
        margin: 0 0 10px 0;
    }
    .button-try {
        margin-left: 0;
    }
    .item-menu {
        margin: 0 20px 10px 0;
    }
    .link.menu {
        font-size: 18px;
    }
    .list {
        justify-content: center;
    }
    .about {
        margin-bottom: 0;
    }
    .about-container {
        display: block;
    }
    .card-about {
        margin: auto;
    }
    .title {
        font-size: 40px;
        line-height: 45px;
    }
    .title-about {
        max-width: 550px;
        width: 100%;
        margin: 0 auto 20px auto;
    }
    .text-about {
        max-width: 470px;
        width: 100%;
        font-size: 18px;
        line-height: 22px;
        margin: 0 auto 20px auto;
    }
    .button-box {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .button-try2 {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .text-trial {
        font-size: 13px;
    }
    .about-image {
        display: none;
    }
    .brand-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .brand-title {
        max-width: 720px;
        width: 100%;
        margin: 0 auto 20px auto;
    }
    .brand-list {
        margin-left: 0;
        align-items: center;
    }
    .brand-item {
        transform: scale(0.75);
        width: 50%;
        margin-right: 0;
    }
    .profit-list {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .item-profit {
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
    }
    .card-profit1,
    .card-profit2,
    .card-profit3,
    .card-profit4 {
        margin: 0 auto 10px auto;
        width: 100%;
        max-width: 550px;
    }
    .title-profit1,
    .title-profit2,
    .title-profit3,
    .title-profit4 {
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
        font-size: 40px;
        line-height: 45px;
    }
    .card-profit2,
    .card-profit4 {
        order: 0;
    }
    .text.profit1,
    .text.profit2,
    .text.profit3,
    .text.profit4 {
        width: 100%;
        text-align: justify;
        margin-bottom: 20px;
    }

    .item-profit img {
        display: none;
    }
}